.containerVideo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column !important;
    background: linear-gradient(to bottom, rgb(65, 150, 247), white);
}
.paperVideo{
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.video{
    height: 60%;
    width: 80%;
    background-color: aqua;
}
.details{
    height: 30%;
    width: 80%;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
}
.btnVolver{
    margin-top: 30px !important;
}